*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: 'Fira Sans Condensed', sans-serif;
  --second-family: Oswald, sans-serif;
  --main-color: #fff;
  --accent-color: #545050;
  --bg-color: #1b1919;
}

html {
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Utility */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Page */

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  inline-size: 1200px;
  max-inline-size: 100%;
  min-block-size: 100vh;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 18px;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;

  inline-size: 1140px;
  max-inline-size: 100%;
}

/* Result */

.result {
  display: flex;
  flex-direction: column;

  inline-size: 711px;
  min-inline-size: 0;
  flex-shrink: 0;
}

.result__video-container {
  position: relative;

  inline-size: 100%;
  block-size: 386px;
  margin-block-end: 16px;

  overflow: hidden;
}

.result__video {
  display: block;

  inline-size: 100%;
  block-size: 100%;

  object-fit: cover;
  object-position: center;
}

/* Search form */

.search-form {
  display: flex;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  display: inline-block;

  margin-block-end: 5px;

  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:has(.search-form__label-text):hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

/* Textfield */

.search-form__textfield {
  inline-size: 225px;
  padding: 1px 0;

  color: inherit;
  font: inherit;

  background-color: inherit;
  border-block: 1px solid currentColor;
  border-inline: none;

  caret-color: var(--main-color);
  appearance: none;
}

.search-form__textfield::placeholder {
  opacity: 0.7;
}

.search-form__textfield:focus,
.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__textfield:active {
  border-inline: 1px solid currentColor;
}

/* Checkbox */

.search-form__checkbox {
  appearance: none;
}

.search-form__checkbox:focus,
.search-form__checkbox:focus-visible {
  outline: none;
}

.search-form__pseudo-checkbox {
  display: block;
  flex-shrink: 0;

  inline-size: 19px;
  block-size: 19px;

  border: 1px solid currentColor;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';

  display: block;

  inline-size: 15px;
  block-size: 15px;
  margin: 1px;

  background-color: var(--main-color);
}

.search-form__label-text {
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}

/* Buttons */

.button {
  inline-size: 194px;
  block-size: 34px;
  padding: 0;

  color: var(--main-color);
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;

  background-color: inherit;
  border: 1px solid currentColor;

  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: var(--accent-color);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
}

.more-button {
  inline-size: 100%;
  margin-block: 0 2px;
  flex-shrink: 0;
}

/* Details */

.content__details {
  inline-size: 399px;
  block-size: 100%;
  min-inline-size: 0;
  flex-shrink: 0;
}

.title {
  display: inline-block;

  padding-block-end: 25px;

  color: var(--main-color);
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: var(--accent-color);
}

/* Video list */

.content__list-container {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 30px;

  block-size: 298px;
  min-block-size: 0;
  overflow-y: auto;

}

.content__list {
  position: relative;
  flex: 0 0 auto;
}

.content__list-item {
  margin: 2px 2px 0;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  display: block;

  color: var(--main-color);
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active,
.content__card-link_current {
  background-color: var(--accent-color);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex: 1;

  min-inline-size: 0;
  padding: 3px 0 0 2px;
}

.content__video-card-title {
  max-inline-size: 192px;
  margin-block-end: 6px;

  color: var(--main-color);
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0;
  text-transform: uppercase;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content__video-card-description {
  margin: 0;

  color: var(--main-color);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;
  text-transform: none;

  overflow: hidden;
  font-synthesis: none;
}

.content__video-card-thumbnail {
  display: block;

  inline-size: 194px;
  block-size: 103px;
  padding: 1px 1px 1px 0;

  object-fit: cover;
  object-position: center;
}

/* Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  inline-size: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}